# Copy this file to bluecat.env (in a safe place, like ~/.ssh/)
# and update the values.
# Source the file to set environment variables like:
# source path-to-dir/bluecat.env
export BLUECAT_SERVER=domain.name.example
export BLUECAT_USERNAME=myusername
export BLUECAT_PASSWORD=mypassword
export BLUECAT_CONFIGURATION=myconfiguration
export BLUECAT_VIEW="DefaultView"
export BLUECAT_LOGGING=WARN
# WARN is the default for logging, use INFO and DEBUG for more details
