# Source this file to set environment variables like:
# source ./sample.env
export BLUECAT_SERVER=domain.name.example
export BLUECAT_USERNAME=myusername
export BLUECAT_PASSWORD=mypassword
export BLUECAT_CONFIGURATION=myconfiguration
export BLUECAT_VIEW="DefaultView"
#export BLUECAT_LOGGING=DEBUG
